*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.imagenGaleria{
    max-width: 250px;
    border: 3px solid black;
    border-radius: 10px;
}


.imagenGaleria:hover{
    opacity: 0.2;
}


.contenedorImagen{
    
    padding: 1%;
    position: relative;
}

.tituloAcuarela{
    position: absolute;
    bottom: 5%;
    left: 15%;
    font-size: 150%;
    
   
}

